---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Video from '../components/Video.astro';
import Shows from '../components/Shows.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Video />
    <Shows />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
